@model IEnumerable<TrufflerSample.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            WikipediaUrl
        </th>
        <th>
            WikipediaText
        </th>
        <th>
            Website
        </th>
        <th>
            StreetAddress
        </th>
        <th>
            City
        </th>
        <th>
            MichelinRating
        </th>
        <th>
            HeadChef
        </th>
        <th>
            Country
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WikipediaUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WikipediaText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Website)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MichelinRating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HeadChef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { wikiurl = Server.UrlEncode(item.WikipediaUrl) }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
